<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}

    {% block title %}Account{% endblock title %}

    {% block content %}

    <h1>This is account.html</h1>
        <table border="1">
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>DOB</td>
                <td>Address 1</td>
                <td>Address 2</td>
                <td>City</td>
                <td>State</td>
                <td>Zipcode</td>
                <td>Phone</td>
                <td>Type</td>
            </tr>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.date_of_birth }}</td>
                <td>{{ user.address1 }}</td>
                <td>{{ user.address2 }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.zip }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.type }}</td>
                <td><a href="{% url 'users:account_edit' pk=user.pk %}">Edit Account</a></td>
            </tr>
        </table>
    {% endblock content %}
</html>